<header id="header" class="headerbg">
    
<a href="#" id="logo"><img src="{{ site.baseurl }}/img/logo.png"</a>

<nav id="nav" >
    <a href="#" id="menu-icon"></a>
	<ul> 
		<li><a href="#home" class="active" title="Home" >Home</a></li>
		<li><a href="#about" title="Next Section">About</a></li>
		<li><a href="events" title="Next Section">Events</a></li>
		<li><a  href="#studio11" title="Next Section">Studio 11</a></li>
		<li><a href="#contact" title="Next Section">Contact</a></li>
	</ul>
</nav>
    


</header>	

